@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:wght@400;500;600&display=swap");
@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black;
  font-weight: $medium-weight;
  font-size: $mid-size;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  background: $whet;
}

.container{
  max-width: $lg;
  margin: auto;
}


.nav {
  display: flex;
  align-items: center;
  gap: 10px;
  .link {
    font-weight: $bold-weight;
    &:hover {
      color: $orange;
    }
  }
}
.link {
  text-decoration: none;
  transition: all 0.5s ease;
}
